html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
}


.product {
    position: absolute;
    width: 1110px;
    height: 50px;
    left: 245px;
    top: 30px;
}

.main_nav_btn {
    color: #6E9C9F;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    font-family: Raleway, sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}


header.sticky {
    background: #fff;
    padding: 3rem 10rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.nav_logo_womazing {
    padding-right: 6rem;
}

.black_btn_nav {
    padding-right: 3.5rem;
    color: #000;
}

.black_btn_nav_cont {
    padding-right: 6rem;
    color: #000;
}

.phone_logo {
    padding-right: 0.6rem;
}

.number_phone {
    padding-right: 5rem;
    color: #000;
}

.footer {
    position: relative;
    width: 100%;
    top: 100%;
    background: #F1EADC;
    font-family: Raleway, sans-serif;
}

.flex__columns {
    display: flex;
    flex-wrap: wrap;
}

.flex__column {
    padding: 2rem 5rem;
}

.footer__menu {
    margin-left: 2.5rem;
}

.btns {
    color: #111111;
}

.main_footer_btn {
    color: #6E9C9F;
!important;
    font-weight: 700;
}

.black_btn {
    color: #000;
}

.margin__left {
    margin-left: 10rem;
}

.hat {
    padding: 40px 128px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
}

.half_page_light_warning {
    position: absolute;
    background: #F1EADC;
    width: 705px;
    height: 826px;
    left: 895px;
    top: 0;
}


.columns {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}

.main_img {
    position: absolute;
    width: 410px;
    height: 646px;
    left: 945px;
    top: 120px;
}

.second_img {
    position: absolute;
    width: 197px;
    height: 197px;
    left: 1263px;
    top: 243px;

}

.third_img {
    position: absolute;
    width: 190px;
    height: 318px;
    left: 815px;
    top: 508px;
}

.product_list {
    padding: 128px;
    font-family: 'Raleway', sans-serif;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.price_sale {
    text-decoration-line: line-through;
}


.flex-box {
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-family: 'Raleway', sans-serif;

}

.price {
    color: grey;
    font-family: 'Raleway', sans-serif;

}

.double__btn__container {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;

}

.btn {
    padding: 1.5rem 2.5rem;
    background-color: #6E9C9F;
    color: white !important;
}

.btn__down {
    background-color: #6E9C9F1A;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.succesd {
    padding-left: 8rem;
}


.btn__center {
    padding: 1.5rem 2rem;
    background-color: #ffffff;
    color: #6E9C9F;
    border: #6E9C9F solid 1px;
}

.serv {
    padding-left: 2rem;
}

.btn__center:hover {
    padding: 1.5rem 2rem;
    background-color: #6E9C9F;
    color: white !important;
    border: #6E9C9F solid 1px;
    transition: 1s;
}

.btn__centered {
    padding: 1.5rem 4rem;
    background-color: #ffffff;
    color: #6E9C9F !important;
    border: #6E9C9F solid 1px;
}

.btn__centered:hover {
    padding: 1.5rem 4rem;
    background-color: #6E9C9F;
    color: white !important;
    border: #6E9C9F solid 1px;
    transition: 1s;
}

.flex__box {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;

}

.flex__x {
    padding: 2.5rem 4em;
}

.quality {
    padding-left: 120px;
    padding-right: 30px;
    margin: -50px;
    font-family: 'Raleway', sans-serif;
}

.dream_team {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    font-family: 'Raleway', sans-serif;

}

.btn__about {
    color: #6E9C9F;
}


.btn__about:hover {
    color: #6E9C9F;
    text-decoration: none;
    line-height: 1.4em;
}


/*.btn {*/
/*    padding: 1.5rem 5rem;*/
/*    background: #6E9C9F;*/
/*    color: #fff;*/
/*}*/
.hover_link {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.hover_link:after {
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hover_link:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #6E9C9FC4, #6E9C9F);
    opacity: 0.8;

}

.hover_link:hover:before {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: -26px 0 0 -26px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(стрелка.svg) 0 0 no-repeat;
    z-index: 100;
    opacity: 1;
}

.hover_link:before {
    content: "";
    opacity: 0;
    transition: opacity 0.5s;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;

}

.arrows {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.arrows:hover {
    opacity: .6;
}


.product_store {
    justify-content: center;
    align-items: center;
    display: flex;
}

.s_sd {
    padding: 0 100px;
    font-family: Raleway, sans-serif;
}

.buttons1 {
    width: auto;
    margin: auto;
    font-family: Raleway, sans-serif;
}

.text {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid black !important;
}

td {
    border: none !important;
}


.btn_ordered {
    /*padding: 1.2rem 2.5rem;*/
    background: #6E9C9F;
    color: white;
}


.form {
    padding: 20px;
    width: 100%;
    height: 100%;
}


.counter-display {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}


.color_style {
    border: 1px solid #000;
    padding: 1rem 3rem;
    color: black;
}


.form label {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.form input {
    padding: .7rem 2rem;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.form textarea {
    padding: .3em 2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}


.btn_submit_form {
    padding: 1.2rem 5rem;
    background-color: #6E9C9F;
    color: white !important;
    border: none;
}

.order_section {
    padding-left: 9rem;
}

.order_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row_1 {
    height: 800px;
    width: 30%;
    margin-left: -15rem;
}

.row_2 {
    margin-left: 15rem;
}


.pading {
    font-family: Raleway, sans-serif;
}


.btn_shops {
    padding: 1rem 3rem;
    color: black;
    border: 1px solid black;
}


.btn_shops:hover {
    background: black;
    color: white;
}

.btn_shops:focus {
    background: black;
    color: white;
}

.flex_-columns {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}

.flex_-column {
    margin-left: 2rem;
    padding-top: 3rem;
}

.product-detail {
    padding-left: 9rem;
}

.product_detail_title {
    padding-left: 15.7rem;
    font-family: Raleway, sans-serif;
}

.product_detail_t {
    padding-left: 10.5rem;
}

.p_p {
    padding-left: 10.5rem;
    font-family: Raleway, sans-serif;
}

.img_vector {
    transform: rotatey(3rad);
}

.add_btn_cart {
    padding: 1rem 3.7rem;
    color: white;
    background-color: #6E9C9F;
}

.item_color {
    color: #6E9C9F;
}

.sizes {
    display: flex;
    justify-content: space-between;
}


.modal-background {
    background: rgba(110, 156, 159, 0.95) !important;
}




.radio_select {
    display: flex;
    margin-right: 10px;
}

.radio_select input[type=radio] {
    display: none;
}

.radio_select label {
    display: inline-block;
    cursor: pointer;
    padding: 0 1rem;
    margin-right: 1rem;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
}

.radio_select input[type=radio]:checked + label {
    background: black;
}

/* Hover */
.radio_select label:hover {
    color: white;
    background-color: black;
}


/* Disabled */
.radio_select input[type=radio]:disabled + label {
    background: #efefef;
}

.radio_selects {
    display: flex;
    margin-right: 10px;
}

.radio_selects input[type=radio] {
    display: none;
}

.radio_selects label {
    display: inline-block;
    cursor: pointer;
    padding: 0 2rem;
    margin-right: 1rem;
    line-height: 50px;
    border: 1px solid #999;
    border-radius: 100%;
}

.radio_selects input[type=radio]:checked + label {
    background: black;
}

/* Hover */
.radio_selects label:hover {
    color: white;
    background-color: black;
}


/* Disabled */
.radio_selects input[type=radio]:disabled + label {
    background: #efefef;
}

.b-black {
    background-color: black;
    color: white;
}

.bb_black {
    background-color: black;
    color: white;
}


.w_black {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1440px) {
    .main_img {
        position: absolute;
        width: 410px;
        height: 646px;
        left: 880px;
        top: 120px;
    }

    .second_img {
        position: absolute;
        width: 197px;
        height: 197px;
        left: 1200px;
        top: 243px;
    }

    .third_img {
        position: absolute;
        width: 190px;
        height: 318px;
        left: 760px;
        top: 508px;
    }

    .half_page_light_warning {
        position: absolute;
        background: #F1EADC;
        width: 705px;
        height: 826px;
        left: 820px;
        top: 0;
    }
}