{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <section class="product">
        <menu class="menu">
            <div class="container_fluid">
                <a href="{% url 'store:home' %}" class="nav_logo_womazing"><img src="{% static 'womazing_logo.svg' %}"
                                                                                alt=""></a>
                <a href="{% url 'store:home' %}" class="black_btn_nav"><span class="main_nav_btn has-text-weight-bold">Главная</span></a>
                <a href="{% url 'store:shop' %}" class="black_btn_nav">Магазин</a>
                <a href="{% url 'store:about_brand' %}" class="black_btn_nav">О бренде</a>
                <a href="{% url 'store:contact_order' %}" class="black_btn_nav_cont">Контакты</a>
                <a class="js-modal-trigger phone_logo" data-target="modal-js-example">
                    <img src="{% static 'telephone1.svg' %}" alt="">
                </a>
                <a href="tel:+7(495)823-54-12" class="number_phone">+7(495)823-54-12</a>
                <a class="shopping_bags" href="{% url 'store:cart' %}">
                    <img src="{% static 'shopping-bags1.svg' %}" alt="">

                </a>
            </div>
        </menu>
    </section>
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content is-fullwidth">
            <div class="box">
                <form method="get" class="form" action="{% url 'store:get_contact_url' %}">
                    <h1 class="title has-text-centered has-text-weight-normal">Заказать обратный звонок</h1>
                    <div class="field has-text-centered">
                        <label class="label has-text-weight-medium">Имя</label>
                        <div class="control">
                            <input type="text" name="name">
                        </div>
                    </div>
                    <div class="field has-text-centered">
                        <label class="label has-text-weight-medium">E-mail</label>
                        <div class="control">
                            <input type="text" name="email">
                        </div>
                    </div>
                    <div class="field has-text-centered">
                        <label class="label has-text-weight-medium">Телефон</label>
                        <div class="control">
                            <input type="text" name="telephone">
                        </div>
                    </div>
                    <div class="has-text-centered">
                        <button class="btn_submit_form is-centered">Отправить</button>
                    </div>
                    {% if is_succes %}
                        <h1 class="title">Отлично! Мы скоро вам перезвоним.</h1>
                        <a href="{% url 'store:home' %}" class="btn__centered">Закрыть</a>
                    {% endif %}
                </form>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</header>






{% block success %}
{% endblock %}

{% block content %}
{% endblock %}

{% block detail %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block shop %}
{% endblock %}

{% block callback %}
{% endblock %}

{% block cart %}
{% endblock %}



<footer class="footer has-background-warning-light is-6">
    <div class="container">
        <div class="flex__columns">
            <div class="flex__column">
                <img src="{% static 'womazing_logo.svg' %}" alt=""><br><br><br><br>
                <p class="subtitle has-text-weight-medium is-7">© Все права защищены <br>
                    Политика конфиденциальности <br>
                    Публичная оферта</p>
            </div>
            <div class="flex__column">
                <div class="footer__menu">
                    <a href="{% url 'store:home' %}" class="mr-6"><span class="main_footer_btn">Главная</span></a>
                    <a href="{% url 'store:shop' %}" class="mr-6 black_btn">Магазин</a>
                    <a href="{% url 'store:about_brand' %}" class="mr-6 black_btn">О бренде</a>
                    <a href="{% url 'store:contact_order' %}" class="black_btn">Контакты</a>
                </div>
                <br>
                <p class="subtitle has-text-weight-medium margin__left is-7">
                    <a href="{% url 'store:shop' %}?category=1" class="black_btn">Пальто</a><br><br>
                    <a href="{% url 'store:shop' %}?category=2" class="black_btn">Свитшоты</a><br><br>
                    <a href="{% url 'store:shop' %}?category=3" class="black_btn">Купальники</a><br><br>
                    <a href="{% url 'store:shop' %}?category=5" class="black_btn">Кардиганы</a><br><br>
                    <a href="{% url 'store:shop' %}?category=4" class="black_btn">Толстовки</a>
                </p>
            </div>
            <div class="flex__column has-text-right">
                <p class="subtitle has-text-weight-medium is-6">+7(495)823-54-12 <br>hello@womazing.com</p><br>
                <a href="" class="mx-1"><img src="{% static 'instagram1.svg' %}" alt=""></a>
                <a href="" class="mx-3"><img src=" {% static  'facebook1.svg' %}" alt=""></a>
                <a href=""><img src="{% static 'twitter1.svg' %}" alt=""></a><br><br>
                <img src=" {% static 'visa.svg' %}" alt="">
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/index.js' %}">

</script>

<script class="text/javascript">
    window.addEventListener("scroll", function () {
        const header = document.querySelector('header')
        header.classList.toggle("sticky", window.scrollY > 0);
    });
</script>

<script type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
<script type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    let radio_selects = document.querySelectorAll(".radio_selects label",)

    radio_selects.forEach(button => {
        button.addEventListener('click', () => {
            radio_selects.forEach(elem => elem.classList.remove('b-black'))
            button.classList.add('b-black')
        })
    })

    let radio_select = document.querySelectorAll(".radio_select label",)

    radio_select.forEach(button => {
        button.addEventListener('click', () => {
            radio_select.forEach(elem => elem.classList.remove('bb_black'))
            button.classList.add('bb_black')
        })
    })


</script>

<script>
    let btn_shops = document.querySelectorAll(".btn_shops ",)

    btn_shops.forEach(button => {
        button.addEventListener('click', () => {
            btn_shops.forEach(elem => elem.classList.remove('w_black'))
            button.classList.add('w_black')
        })
    })
</script>
</body>
</html>