{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <button class="button is-info is-large" onclick="toggleModal()">Modal</button>

    <!--Модальное окно-->
    <div class="modal">
        <div class="modal-background backcolor"></div>
        <div class="modal-content">
            <section class="modal-card-body">
                <!-- Content ... -->

                <p class="modal-card-title has-text-centered">Заказать обратный звонок</p>
                <div class="field">
                    <label class="label has-text-weight-medium">Имя</label>
                    <div class="control">
                        <label>
                            {{ form.name }}
                        </label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <label>
                            {{ form.email }}
                        </label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Телефон</label>
                    <div class="control">
                        <label>
                            {{ form.number }}
                        </label>
                    </div>
                </div>
                <br>
                <div class="has-text-centered">
                    <a href="" class="btn has-text-centered" onclick="toggleModal()">Заказать товар</a>
                </div>
                <br>
            </section>
            <button aria-label="close" class="modal-close is-large" onclick="toggleModal()"></button>
        </div>
    </div>
{% endblock %}

