{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class="half_page_light_warning"></div>
    <section class="header_nav">
        <!--header-->
        <hat class="hat">
            <div class="columns">
                <div class="column mx-5 offer_1 has-text-centered">
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <h1 class="title has-text-weight-black is-1">Новые поступления <br> в этом сезоне</h1><br><br>
                    <p class="title has-text-centered right_regular is-5">Утонченные сочетания и бархатные <br> оттенки
                        -
                        вот то, что вы искали в этом <br>
                        сезоне. Время исследовать.</p><br> <br>
                    <div class="double__btn__container">
                        <a href="#product_list" onclick="toggleModal()" class="btn__down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="29" viewBox="0 0 16 29"
                                 fill="none">
                                <path d="M8 0V28M8 28L1 20.8108M8 28L15 20.8108" stroke="#6E9C9F"></path>
                            </svg>
                        </a>
                        <a href="{% url 'store:shop' %}" class="btn">Открыть магазин</a>
                    </div>
                </div>
                <div class="column">
                    <p class="main_img"><img src="{% static 'Фото%20главное.svg' %}" alt="header image"></p>
                    <p class="second_img"><img src="{% static 'Фото%20вторичное.svg' %}" alt=""></p>
                    <p class="third_img"><img src="{% static 'Фото%20третьестепенное.svg' %}" alt=""></p>
                </div>
            </div>
        </hat>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!--Main content-->
    <section class="product_list is-centered" id="product_list">
        <h1 class="title">Новая коллекция</h1>
        <div class="columns">
            {% for product in products %}
                <div class="column">
                    <a href="{% url 'store:product_detail' product.pk %}" class="hover_link">
                        <img src="{{ product.image.url }}" alt="">
                    </a>
                    <br>
                    <br>
                    <div class="has-text-centered">
                        <h1 class="title has-text-weight-medium is-5">{{ product.title }}</h1>
                        <p class="price subtitle is-6 mt-4">{{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="container__btn__hover has-text-centered">
            <a href="{% url 'store:shop' %}" class="btn__centered">Открыть магазин</a>
        </div>
    </section>

    <section class="quality">
        <h1 class="title pl-6">Что для нас важно</h1><br><br>
        <div class="flex__box">
            <div class="flex__x"><br>
                <img src="{% static 'Frame%2016.svg' %}" alt=""><br><br>
                <p class="title">Качество</p><br>
                <p class="subtitle">Наши профессионалы работают на <br> лучшем оборудовании для пошива <br> одежды
                    беспрецедентного
                    <br> качества</p>
            </div>
            <div class="flex__x">
                <img src="{% static 'Frame%2016%20(1).svg' %}" alt=""><br><br>
                <p class="title">Скорость</p><br>
                <p class="subtitle">Благодаря отлаженной системе <br> Womazing мы можем отшивать до <br> 20-ти единиц
                    продукции в наших
                    <br> собственных цехах</p>
            </div>
            <div class="flex__x">
                <img src="{% static 'Frame%2016%20(2).svg' %}" alt=""><br><br>
                <p class="title">Ответственность</p><br>
                <p class="subtitle">Мы заботимся о людях и планете. <br>Безотходное производство и <br>комфортные
                    условия
                    труда - все
                    <br> это Womazing</p>
            </div>
        </div>
    </section>


    <section class="dream_team">
        <h1 class="title is-1 has-text-weight-medium">Команда мечты Womazing</h1>
        <div class="columns">
            <div class="column">
                <img src="{% static 'adam-winger-fI-TKWjKYls-unsplash%201.svg' %}" alt="">
            </div>
            <div class="column is-3">
                <p class="title is-4">Для каждой</p><br>
                <p class="subtitle is-5">Каждая девушка уникальна. Однако, мы схожи в миллионе мелочей.
                    <br><br>Womazing ищет эти мелочи и создает прекрасные вещи, которые выгодно подчеркивают достоинства
                    каждой девушки.</p>
                <a href="{% url 'store:about_brand' %}" class="btn__about has-text-weight-medium">Подробнее о бренде</a>
            </div>
        </div>
    </section>
    <br><br><br><br><br>
{% endblock %}