{% extends 'base_layout.html' %}
{% load static %}


{% block success %}
    <br><br><br><br><br><br><br>
    <section class="section">
        <div class="container pading order_section">
            <h1 class="title is-1">Заказ получен</h1>
            <p class="subtitle pl-2 is-6 mt-3">Главная – Оформление заказа - <span
                    class="has-text-grey-light">Заказ получен</span></p>
        </div>
        <br><br><br><br><br>
        <section class="section">
            <div class="container pading succesd">
                <div class="columns">
                    <div class="column is-1">
                        <figure class="image is-128x128">
                            <img src="{% static 'bi_file-check.svg' %}" alt="">
                        </figure>
                    </div>
                    <div class="column mx-4"><br>
                        <p class="title serv pt-3 is-5">Заказ успешно оформлен</p>
                        <p class="subtitle serv pt-3 is-6">Мы свяжемся с вами в ближайшее время!</p>
                    </div>
                    <div class="column is-4"><br><br>
                        <a href="{% url 'store:home' %}" class="btn__centered">Перейти на главную</a>
                    </div>
                </div>
            </div>
        </section>

    </section>
{% endblock %}