{% extends 'base_layout.html' %}
{% load static %}


{% block detail %}
    <div class="section product-detail">
        <div class="columns is-flex is-align-items-center">
            <div class="column">
                <div class="box">
                    <figure class="image product-detail-image">
                        <img src="{{ product.image.url }}" alt="Placeholder image">
                    </figure>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <p class="title is-size-2">
                        {{ product.title }}
                        {% if product.is_new %}
                            <span class="tag is-danger">New!</span>
                        {% endif %}
                        {% if product.is_discounted %}
                            <span class="tag is-primary">Discount!</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}