{% extends 'base_layout.html' %}
{% load categories %}
{% load static %}


{% block shop %}
    <section class="section">
        <div class="container mr-1 "><br><br><br>
            <h1 class="title is-1 has-text-weight-medium">Магазин</h1>
            <p class="subtitle is-6 mt-3">Главная – <span
                    class="has-text-grey-light">Магазин</span></p>
        </div>
    </section>
    {% if user.is_authenticated %}
        <div class="column">
            {% categories %}

        </div>
    {% endif %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dolorum est nihil veniam
        voluptate voluptates. Asperiores, assumenda aut commodi corporis debitis dignissimos dolor dolorem earum
        error esse et excepturi facere illo incidunt itaque mollitia nemo nisi non numquam praesentium quasi
        quidem similique tempore totam veniam. Accusamus accusantium consectetur deleniti dolorem minima minus
        numquam perspiciatis, voluptatem! Cumque nesciunt perspiciatis praesentium velit. A accusantium adipisci
        animi commodi cupiditate dolores earum enim ex exercitationem harum illo impedit in ipsa ipsum iste,
        iure laboriosam molestiae nemo numquam quibusdam quisquam ratione saepe sequi similique sint ullam unde
        velit. Amet culpa iste nobis nulla quo quos repellat sed? Consequatur delectus facere fugit ipsum
        laboriosam necessitatibus omnis sint sit, totam. Accusantium adipisci aliquid architecto, assumenda
        deleniti dolorem dolores error et expedita hic magnam minima neque nostrum odit officia quis quo
        repellat reprehenderit saepe ut vel voluptas voluptates voluptatum. Aliquid animi aspernatur blanditiis
        commodi consequuntur cum dolore doloribus earum esse facere harum hic inventore ipsam iusto maiores
        nisi, non omnis optio perspiciatis quam qui ratione recusandae rerum sint vero. Ad alias architecto
        commodi corporis eligendi et facere, fugit illum impedit itaque nihil officia porro, provident quisquam
        recusandae repudiandae sequi similique soluta veritatis vero vitae voluptatem voluptates. Ad animi
        cupiditate excepturi explicabo itaque quaerat soluta. Accusantium aliquam architecto asperiores,
        assumenda beatae consequatur culpa cum delectus dignissimos dolore dolorem, dolorum eius esse est et
        excepturi fugiat illum iste, iure magnam minus nemo nulla odio omnis perspiciatis quia quisquam quo quod
        tempore voluptatum. Delectus dolores esse eum iste modi quisquam ratione? Accusamus architecto assumenda
        consectetur consequatur dignissimos facere in laborum neque, quod voluptatum! Fuga placeat provident sed
        sunt voluptate. A amet aperiam corporis dolor dolore dolorem eos error et fuga incidunt ipsum itaque
        labore mollitia nam nemo neque nihil perspiciatis placeat praesentium quam, qui quia reiciendis repellat
        saepe tempora velit vitae voluptatum! Ab beatae blanditiis consequatur, dignissimos earum maiores
        obcaecati optio sapiente sit? Adipisci alias commodi excepturi, ipsam perferendis quisquam vel.
        Asperiores blanditiis cumque dignissimos expedita explicabo harum ipsam itaque neque nisi nostrum
        numquam quasi repellendus repudiandae sed sint, vel vero. A fugit maiores minus nam reprehenderit sed
        hic itaque nihil obcaecati vel? Amet consectetur facilis ipsa maxime nostrum, placeat reiciendis
        repudiandae tenetur! Aperiam cumque dolorum earum explicabo ipsa magni, molestiae nisi placeat
        praesentium quis recusandae reprehenderit sunt tenetur voluptas voluptatibus. Ad adipisci alias amet
        aperiam architecto consectetur corporis cum dignissimos dolorem, doloribus earum error, eum excepturi
        explicabo facere fugit in laboriosam magnam necessitatibus nobis nostrum numquam obcaecati omnis
        perferendis perspiciatis provident quam quasi quidem quisquam repellat rerum sit suscipit tenetur ullam
        unde veniam voluptatum. Adipisci alias aspernatur at commodi corporis, doloremque et fugiat itaque magni
        maxime molestiae non quasi qui quisquam repellat sint totam vitae. Aliquam assumenda consequatur
        corporis debitis deleniti deserunt eaque et ex fugit, id ipsa maxime nam nostrum perspiciatis placeat
        porro possimus quia quidem repellendus saepe sed soluta veritatis voluptas! At aut corporis, cumque
        debitis dolore enim, est et eum eveniet explicabo iste iusto maxime nam nesciunt obcaecati pariatur
        porro quae qui quia repellendus sed soluta ut, vel veniam voluptate voluptates voluptatibus! Ab atque
        veniam?</p>
{% endblock %}



{#{% url 'store:product_detail' %}?category={{ category.pk }}#}
{#    <section class="product_store is-centered">#}
{#        <div class="flex pr-5">#}
{#            {% for product in products %}#}
{#                <div class="flex-box">#}
{#                    <a href="" class="hover_link">#}
{#                        <img src="{{ product.image.url }}" alt="">#}
{#                    </a>#}
{#                    <a href=""><h1 class="title has-text-centered">{{ product.title }}</h1></a>#}
{#                    <p class="price has-text-centered">{{ product.price }}</p>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </section>#}

