{% extends 'base_layout.html' %}
{% load categories %}
{% load static %}


{% block shop %}
    <section class="section">
        <div class="container mr-1 "><br><br><br>
            <h1 class="title is-1 has-text-weight-medium">Магазин</h1>
            <p class="subtitle is-6 mt-3">Главная – <span
                    class="has-text-grey-light">Магазин</span></p>
        </div>
    </section>
        <div class="column">
            {% categories %}
        </div>
{% endblock %}



{#{% url 'store:product_detail' %}?category={{ category.pk }}#}
{#    <section class="product_store is-centered">#}
{#        <div class="flex pr-5">#}
{#            {% for product in products %}#}
{#                <div class="flex-box">#}
{#                    <a href="" class="hover_link">#}
{#                        <img src="{{ product.image.url }}" alt="">#}
{#                    </a>#}
{#                    <a href=""><h1 class="title has-text-centered">{{ product.title }}</h1></a>#}
{#                    <p class="price has-text-centered">{{ product.price }}</p>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </section>#}

